html {
    height: 100%;
}
body {
    background: rgb(64, 64, 64);
    background-size: 100% 100%;
    height: 100%;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow: hidden;
}

main {
    font-family: monospace;
    color: darkgray;
    text-align: center;
    margin-top: 250px;

}

.box-input {
    text-align: center;
}
.btn {
 text-align:center;  
}

#whurl, #username, #content, #avurl {
    font-size: 20px;
    background-color: #8f8f8f;
    width: 50%;
    margin-top: 5px;
    padding: 15px;
    border: 2px solid #00000000;
}

#btn {
    width: 52%;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    background-color: #8f8f8f;
    border: 2px solid #00000000;
}
