html {
    height: 100%;
}
body {
    background: rgb(64, 64, 64);
    background-size: 100% 100%;
    height: 100%;
}
main {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color: white;
    font-family: monospace;
    max-width: 100%;
}
.box-input {
    background-color: #6b6b6b;
    width: 75%;
    padding: 20px;
    border: 2px solid #00000000;
}
.btn {
    width: 75%;
    margin-top: 25px;
    padding: 17px;
    background-color: #6b6b6b;
    border: 2px solid #00000000;
}
